<<<<<<< HEAD
body{
  background-color:rgb(248, 249, 250) ;
  color: rgb(27, 74, 75);
  font-weight: bold;
  font-size: 20px;
}
.container{
  margin-top: 120px;
  width: 400px;
  height: 600px;
  /* background-color:rgb(44, 122, 123); */
  background-color: rgb(248, 249, 250);
  box-shadow: 1px 1px 10px 1px rgba(27, 74, 75,0.9);
  justify-self: center;
  border-radius: 35px;
}
.heading{
  font-size: 30px;
  font-weight: bold;
  padding-top: 40px;
  justify-self: center;
}
.sub-container{
  /* background-color: aqua; */
  display: grid;
  grid-template-columns: 300px;
  justify-content: center;
  row-gap: 30px;
  margin-top: 40px;
}
.container-result{
  justify-items: center;
}
.css-calculate-btn{
  font-size: 20px;
  padding: 12px;
  border-radius: 20px;
  margin-top: 30px;
  display: block;
  background-color: rgb(255, 107, 53);
  border: none;
  box-shadow: 1px 1px 5px 1px rgba(27, 74, 75,0.9);
  color: rgb(236, 236, 236);
  font-weight: bold;
}
.css-calculate-btn:hover{
  background-color: rgba(255, 107, 53,0.8);
  transition: 0.15s;
  cursor: pointer;
}
.css-calculate-btn:active{
  background-color:rgba(255, 107, 53,0.5);
  transform: scale(0.96);
}
.css-display-description{
  text-align: center;
  padding: 10px;
  background-color: rgb(226, 226, 226);
}
.css-inputs{
  padding: 10px;
  border-radius: 5px;
  border: solid 1px rgb(27, 74, 75);
=======
body{
  background-color:rgb(248, 249, 250) ;
  color: rgb(27, 74, 75);
  font-weight: bold;
  font-size: 20px;
}
.container{
  margin-top: 120px;
  width: 400px;
  height: 600px;
  /* background-color:rgb(44, 122, 123); */
  background-color: rgb(248, 249, 250);
  box-shadow: 1px 1px 10px 1px rgba(27, 74, 75,0.9);
  justify-self: center;
  border-radius: 35px;
}
.heading{
  font-size: 30px;
  font-weight: bold;
  padding-top: 40px;
  justify-self: center;
}
.sub-container{
  /* background-color: aqua; */
  display: grid;
  grid-template-columns: 300px;
  justify-content: center;
  row-gap: 30px;
  margin-top: 40px;
}
.container-result{
  justify-items: center;
}
.css-calculate-btn{
  font-size: 20px;
  padding: 12px;
  border-radius: 20px;
  margin-top: 30px;
  display: block;
  background-color: rgb(255, 107, 53);
  border: none;
  box-shadow: 1px 1px 5px 1px rgba(27, 74, 75,0.9);
  color: rgb(236, 236, 236);
  font-weight: bold;
}
.css-calculate-btn:hover{
  background-color: rgba(255, 107, 53,0.8);
  transition: 0.15s;
  cursor: pointer;
}
.css-calculate-btn:active{
  background-color:rgba(255, 107, 53,0.5);
  transform: scale(0.96);
}
.css-display-description{
  text-align: center;
  padding: 10px;
  background-color: rgb(226, 226, 226);
}
.css-inputs{
  padding: 10px;
  border-radius: 5px;
  border: solid 1px rgb(27, 74, 75);
>>>>>>> d4ecf64b1014994c4d4417992d30b644a0e836ce
}